<%provide(:title, "About")%>
<h1>About</h1>
<div>This will be the about section of the application.</div>

<script type="text/javascript">
  $(function() {
    $("#nav-about").parent("li").addClass("active");
  });
</script>
