<%provide(:title, "Help")%>
<h1>Help</h1>
<div>This will be the help section of the application.</div>

<script type="text/javascript">
  $(function() {
    $("#nav-help").parent("li").addClass("active");
  });
</script>
