<%provide(:title, "Home")%>
<h1>Home</h1>
<div>This will be the home section of the application.</div>


<script type="text/javascript">
  $(function() {
    $("#nav-home").parent("li").addClass("active");
  });
</script>
