<% provide(:title, "Edit User Details") %>
<% provide(:button_text, 'Save changes') %>
<h1>Update Your User Profile</h1>

<div class="row">
  <div class="col-md-6">
    <%= render "user_details_form" %>
  </div>
</div>
