<% provide(:title, 'Create A New User') %>
<% provide(:button_text, 'Create A New User') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6">
    <%= render "user_details_form" %>
  </div>
</div>
