<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-12">
    <div class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <h4 style="margin-left: 5px;">
        Role:
        <% case @user.role
          when 1 %><span>User</span>
          <% when 2 %><span>Manager</span>
          <% when 3 %><span>Administrator</span>
          <% when 4 %><span>Developer</span>
        <% end %>
      </h4>
      <hr>
      <h4>My User Description:</h4>
      <div class="col-md-6">
        <%= @user.description %>
      </div>
    </div>
  </div>
</div>
